streamlit>=1.50.0
streamlit-quill
pandas
plotly
psycopg2-binary
SQLAlchemy
reportlab
pillow
fastapi
uvicorn[standard]
pytest
pytest-cov
python-dotenv
pdfkit
matplotlib
pypdf
PyPDF2
scipy
numpy
jinja2
python-dateutil
pydantic>=2
python-multipart
python-jose


